* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  background-image: url(images/fix.png);
  background-size: 55%;
  background-position-y: 45%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.logo {
  padding-right: 30px;
}

.logo img {
  width: 146px;
  height: 48px;
}

.msg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  width: 465px;
  padding: 10px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #2250e4;
  text-transform: uppercase;
}

.msg {
  font-size: 16px;
  font-weight: 500;
  color: #8694c3;
}

.contact {
  padding-right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #2250e4;
}

@media screen and (max-width: 992px) {
  .container {
    background-size: 450px;
    background-position-x: center;
    background-position-y: 25%;
  }

  .logo img {
    width: 100px;
    height: 35px;
  }

  .msg-container {
    width: 100%;
    margin-top: auto;
    align-items: center;
    margin-bottom: 20px;
  }

  .title {
    font-size: 25px;
  }

  .msg {
    font-size: 14px;
  }

  .contact {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    background-size: 350px;
    background-position-y: 30%;
  }

  .title {
    font-size: 20px;
  }

  .msg {
    font-size: 14px;
  }

  .contact {
    font-size: 14px;
  }
}
